<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Интервальное голодание</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
    <link th:href="@{../css/style.css}" rel="stylesheet"/>
</head>
<body class="d-flex flex-column min-vh-100">
<div th:replace="fragments/header :: header">Header</div>
<div class="container">
    <div class="row">
        <div class="col-3">
            <span th:switch="${isLogin}">
                <span th:case="true">
                    <div th:replace="fragments/user-info :: userInfo">User Info block</div>
                </span>
                <span th:case="*">
                    <div th:replace="fragments/login :: login">Login block</div>
                </span>
            </span>
        </div>
    </div>
    <div class="col-9" style="background-color: white;">
        <div th:replace="${view} :: content">Page content</div>
    </div>
</div>
</div>
<footer class="" th:replace="fragments/footer :: copy">
    Подвал
</footer>
<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{./js/dist/paper-full.js}"></script>
</body>
</html>